<h1>About</h1>
<div class="container">
  <div class="row">
  <hr>
    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
      <p>An Honest Handyman, looking for work.</p><br>
      <p>Contact Info:</p>
      <address>
        Bob Handyman<br>
        (555)555-5555<br>
        Bob@handy.man<br>
      </address>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>