<h1>Brother Bob's website for handymannering.</h1>



<div class="container">
  <!-- Example row of columns -->
  <div class="row">
  <hr>
    <div class="col-md-4">
      <h2>Repairs</h2>
      <ul>
        <li>Bathrooms</li>
        <li>Kitchens</li>
        <li>Bedrooms</li>
        <li>Roofing</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Renovations</h2>
      <ul>
        <li>Wood Floors</li>
        <li>Tile Floors</li>
        <li>Cabinets</li>
        <li>Decks</li>
        <li>Sheds</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>The Kitchen Sink</h2>
      <ul>
        <li>All jobs considered</li>
        <li>Reliabile and Honest</li>
        <li>Discounts for home cooked meals</li>
        <li>Will work for bacon</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
    <hr>
      <%= link_to 'Request an estimate today!', new_job_path, :class => 'btn btn-primary btn-lg' %>
    <hr>
    </div>
  </div>
</div>

