<div class="jumbotron" style="background-color: tan;">
  <div class="container">
    <h1>Brother Bob</h1>
    <p>Handyman website for handyman activities.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Repairs</h3>
      <ul>
        <li>Bathrooms</li>
        <li>Kitchens</li>
        <li>Bedrooms</li>
        <li>Roofing</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>Renovations</h3>
      <ul>
        <li>Wood Floors</li>
        <li>Tile Floors</li>
        <li>Cabinets</li>
        <li>Decks</li>
        <li>Sheds</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>The Kitchen Sink</h3>
      <ul>
        <li>All jobs considered</li>
        <li>Reliabile and Honest</li>
        <li>Discounts for home cooked meals</li>
        <li>Will work for bacon</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
    <hr>
      <%= link_to 'Request an estimate today!', new_job_path, :class => 'btn btn-primary btn-lg btn-block' %>
    <hr>
    </div>
  </div>
</div>

