<footer class="navbar-fixed-bottom">
  <div class="container text-center">
  <%= link_to "Home", root_path %>
  <%= link_to "Submit a Job", new_job_path %>
  <%= link_to "About", about_path %>
  </div>
</footer>

<style type="text/css">
  a {
    color: black;
    padding:10px;
  }

  footer {
    background-color: tan;
    opacity: 0.8;
    padding: 5px;
  }
</style>
